## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
data = {'國家': ['CountryA', 'CountryB', 'CountryC', 'CountryD'],
        '人口': [random.randint(10000000,100000000), random.randint(10000000,100000000), random.randint(10000000,100000000), random.randint(10000000,100000000)]}
data1 = pd.DataFrame(data)

In [3]:
data1

         人口        國家
0  10838953  CountryA
1  47156980  CountryB
2  25263900  CountryC
3  13006647  CountryD

In [4]:
max = data1['人口'].idxmax()

data1.loc[max]['國家']

'CountryB'